go 1.25.0

use (
	./apps/analytics
	./apps/evaluator
	./apps/gateway
	./apps/management
	./apps/streamer
	./internal/config
	./internal/engine
	./internal/protocol
	./internal/storage
	./sdk/server-go
)
